/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #4d4d4d;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #0a0a0a;
    background: linear-gradient(145deg, #000000, #1a1a1a);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
    min-height: 100vh;
}
.header h2 span,.about-section h3 span,.title span {
    background-image: linear-gradient(45deg, #d0d6dd, #869fb5, #093762); /* Gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Makes the text itself transparent */
    display: inline-block;
}
button {
    padding: 10px 30px;
    font-size: 1.6em;
    background: linear-gradient(135deg, #012036, #12263d); /* Gradient background */
    color: #fff;
    border: none;
    margin-top: 8px;
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: inset 0px 0px 40px rgba(229, 230, 235, 0.3); /* Inner shadow */
}

button:hover {
    background: linear-gradient(135deg, #012036, #214772); /* Darker gradient on hover */
    box-shadow: inset 0px 0px 8px rgba(150, 172, 210, 0.3), 0px 8px 15px rgba(229, 230, 235, 0.3); /* Inner shadow + outer shadow on hover */
    transform: translateY(-3px);
}

button:active {
    transform: translateY(1px); /* Button slightly pressed effect */
}

.outer-box{
    position: relative;
    color: #ecf0f1;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.outer-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('loginback.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Adjust opacity here */
    z-index: -1; /* Sends the pseudo-element behind the content */
}
/* logo */
.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    margin: 36px;
}

/* header */
.header{
    position: absolute;
    width: 100%;
    height: 16%;
    color: white;
}
.header .title{
    width: 60%;
    position: relative;
    left: 25%;
    display: flex;
    flex-direction: row;
}
.header h2 {
    font-size: 3rem;
    font-weight: 600;
}

.middle{
    height: 10%;
    display: flex;
    flex-direction: column;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

/* Left Section (Login Form) */
.login-section {
    width: 45%; 
    background-color: #000000; 
    border-radius: 20px; /* Rounded corners */
    border: 3px solid rgb(27, 58, 75); /* Outer border */
    box-shadow: inset 0 0 30px rgba(140, 159, 213, 0.7); 
    color: white;
    padding-top: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.form-header {
    font-size: 1.6rem;
}

.auth-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form .form-group label {
    font-size: 1.2rem;
}

.auth-form .form-group input {
    width: 80%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 8px;
}

/* About Section */
.about-section {
    width: 45%;
    padding: 24px;
    background-color: #000000; 
    border-radius: 20px; /* Rounded corners */
    border: 3px solid rgb(27, 58, 75); /* Outer border */
    box-shadow: inset 0 0 30px rgba(140, 159, 213, 0.7);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-section h3 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    margin: 10px;
}

.about-section p {
    font-size: 1.3rem;
    color: #fff;
    margin-top: 15px;
}
/* why title */
.title{
    color: white;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Scrollable Content */
.scrollable-content {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #000000;
    border-radius: 20px; /* Rounded corners */
    border: 3px solid rgb(27, 58, 75); /* Outer border */
    box-shadow: inset 0 0 30px rgba(140, 159, 213, 0.7); 
    padding: 20px;
    padding-top: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.card h3 {
    font-size: 1.5rem;
    color: white;
}

.card p {
    font-size: 1rem;
    color: white;
}

/* Premium Section */
.premium-section {
    margin-top: 40px;
    text-align: center;
    padding: 40px;
    background-color: rgb(10, 37, 52);
    color: white;
}
.premium-section h3{
    font-size: 2rem;
    color: white;
}
.premium-section p {
    font-size: 1.2rem;
    color: white;
}

.premium-card {
    background-color: #000000; 
    border-radius: 20px; /* Rounded corners */
    border: 3px solid rgb(27, 58, 75); /* Outer border */
    box-shadow: inset 0 0 30px rgba(140, 159, 213, 0.7); 
    padding: 40px;
    border-radius: 10px;
}

/* Footer */
.footer {
    background-color: #000000;
    padding: 20px;
    color: white;
    text-align: center;
}

.socials a {
    margin: 0 10px;
    color: white;
    font-size: 1.5rem;
}

.socials a:hover {
    color: rgb(27, 58, 75) ;
}
footer img{
    height: 50px;
    width: 50px;
}
.image-container {
    display: inline-block;
    background-color: white;
    height: 50px;
    border-radius: 100px;

  }
/* Scroll Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.visible {
    transform: translateX(0);
    opacity: 1;
}
/* responsive design */
/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    /* Header */
    .header {
        position: sticky;
        top: 0;
        z-index: 1000; /* Ensures it stays on top */
        padding: 10px;
    }
    .header h2 {
        font-size: 3rem;
    }
    .header .title {
        flex-direction: column; /* Stack the elements */
        width: 100%;
        text-align: center;
        left: 0;
    }
    .logo {
        margin: 0 auto 10px; /* Center the logo */
    }
    /* Main Container */
    .main-container {
        height: auto;
        flex-direction: column; /* Stack sections vertically */
        padding: 10px;
    }

    /* Login Section */
    .login-section {
        width: 90%; /* Full-width on smaller screens */
        margin: 10px auto; /* Center the section */
        height: auto;
    }

    /* About Section */
    .about-section {
        width: 84%;
        margin: 10px auto;
        height: auto;
        padding: 15px;
    }

    /* Cards Section */
    .cards-container {
        flex-direction: column; /* Stack cards vertically */
        gap: 15px;
    }
    .cards {
        width: 100%;
    }

    /* Scrollable Content */
    .scrollable-content {
        margin: 0;
        padding: 10px;
    }

    /* Button */
    button {
        font-size: 1.2em; /* Slightly smaller buttons */
        padding: 10px 20px;
    }

    /* Footer */
    .footer {
        font-size: 0.9rem;
        text-align: center;
    }
    .footer img {
        height: 40px;
        width: 40px;
    }
}

